.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
  gap: 30px;
}

.successTitle {
  font-family: var(--Quicksand);
  font-size: var(--font-size-h2);
  font-weight: 700;
  color: var(--neutral-darker);
  margin: 0;
}

.continueButton {
  padding: 15px 40px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: var(--font-size-title1);
  font-family: var(--Quicksand);
  background-color: var(--primary-normal);
  border: none;
  color: var(--primary-light);
  transition: background-color 0.2s;
  min-width: 200px;
}

.continueButton:hover {
  background-color: var(--primary-normal-hover);
}

.continueButton:active {
  background-color: var(--primary-normal-active);
}