.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: white;
    border-radius: 15px;
    width: 85%;
    max-width: 900px;
    max-height: 85vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  
  .modalHeader {
    margin-bottom: 20px;
  }
  
  .modalTitle {
    margin: 0;
    font-family: var(--Quicksand);
    font-weight: 700;
    font-size: 20px;
    color: #1a2e46;
    text-align: center;
  }
  
  .closeButton {
    display: none; 
  }
  
  .modalBody {
    padding: 0;
  }