.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-family: var(--Quicksand);
  font-size: var(--font-size-title1);
  color: var(--neutral-darker);
  font-weight: 500;
}

.dateTimeGroup {
  display: flex;
  gap: 20px;
  width: 100%;
}

.dateTimeGroup > div {
  flex: 1;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.cancelButton {
  flex: 1;
  padding: 12px 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: var(--font-size-title1);
  height: 46px;
  font-family: var(--Quicksand);
  background-color: var(--background-light);
  border: 1px solid var(--error-primary);
  color: var(--error-primary);
  transition: background-color 0.2s;
}

.cancelButton:hover {
  background-color: var(--neutral-light);
}

.scheduleButton {
  flex: 1;
  padding: 12px 0;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: var(--font-size-title1);
  height: 46px;
  font-family: var(--Quicksand);
  background-color: var(--primary-normal);
  border: none;
  color: var(--primary-light);
  transition: background-color 0.2s;
}

.scheduleButton:hover {
  background-color: var(--primary-normal-hover);
}

.errorMessage {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.1);
  color: var(--error-primary);
  font-size: var(--font-size-body);
  font-family: var(--Quicksand);
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  color: var(--neutral-normal);
  font-family: var(--Quicksand);
  font-size: var(--font-size-title1);
}