.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  justify-content: center;
  overflow: hidden;
}

.mainContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  flex: 3;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header:-webkit-scrollbar {
  display: none;
}

.header > h1 {
  font-size: var(--font-size-h1);
  color: var(--primary-darker);
  font-weight: 700;
}

.subtitle {
  font-size: var(--font-size-h3);
  color: var(--neutral-dark);
}

.header > .date {
  font-size: var(--font-size-title2);
  color: var(--primary-darker);
  font-weight: 700;
  margin-top: 1rem;
}

.recentPatients {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 2;
  border-left: 1px solid var(--secondary-dark-active);
  direction: rtl;
}

.recentPatients > h2 {
  font-size: var(--font-size-h3);
  font-weight: 700;
  color: var(--primary-darker);
  margin-bottom: 0.5rem;
  margin-left: 20px;
}

.recentPatients > * {
  direction: ltr;
}

.loadingRecentPatients {
  font-size: var(--font-size-title1);
  color: var(--primary-darker);
  margin-top: 1rem;
  text-align: center;
}

.loadingAppointments {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  font-size: var(--font-size-title1);
  color: var(--neutral-normal);
}
