.pageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  display: flex;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}
